.stepper-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.stepper-main-div {

    width: 794px;
    display: flex;
    margin-bottom: 15px;
}

.loan-info {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-right: 12px;
}

.circle-red {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    background-color: #DFE2E6;
}
.one-active{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    background-color: #EB6E7F;
    color: #fff;
}
.extra-width{
    width: 122px;
}
.title-red {
    font-size: 19.94px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color:#000;
}

.two-active{
    font-size: 19.94px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #EB6E7F;
}
/* empty div */

.main-empty-div{
    width: 794px;
    background: #DFE2E6;
    border-radius: 2px;
    display: flex;
    height: 4px;
}

.sub-empty-div {
   /*  width: 100%;  */
    height: 4px;
    background: #DFE2E6;
    border-radius: 2px;
    margin-right: 3px;
}
.sub-empty-div-two {
   /*  margin-left: 41px; */
/*     width: 100%;  */
    height: 4px;
    background: #DFE2E6;
    border-radius: 2px;
    margin-right: 3px;
}
.sub-empty-div-four {
   /*  margin-left: 34px; */
   /*  width: 100%;  */
    height: 4px;
    background: #DFE2E6;
    border-radius: 2px;
    margin-right: 3px;
}
.active{
    background: #EB6E7F;
}
.first-div{
    width: 115px;
}
.second-div{
    width: 140px;
}
.third-div{
    width: 100px;
}
.four-div{
    width: 123px;
}
.fifth-div{
    width: 112px;
}
.six-div{
    width: 104px;
}
.seventh-div{
    width: 75px;
}