
.container {
  max-width: 100%;
  width: 588px;
  height: 388px;
  background: #ffffff;
  border: 2px solid black;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-input {
  width: 200px;
  height: 40px;
  text-align: center;
  border: 1px solid #506de2;
  border-radius: 6px;
}
.margin{
  margin-bottom: 30px;
}
.btn {
  max-width: 100%;
  width: 508px;
  height: 40px;
  background-color: blue;
  color: #fff;
  border-radius: 6px;
}

@media screen and (max-width: 676px) {
  .container {
    width: 343px;
    margin: 10px;
  }
  .btn {
    width: 281px;
  }
}



/* .main-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
  form {
    margin-top: 2rem;
  }
  .form-group {
      max-width: 100%;
    margin-bottom: 10px;
  }
  h2,h4{
      text-align: center;
  }
   .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-group input,.sub-form input {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #212529;
    padding: 12px 15px;
    background: #fff;
    color: #00000080;
    font-size: 14px;
  }
  
  .form-group input[type='submit'] {
    background-color:blue;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    transition: ease 0.3s;
  }

  .error {
    margin-top: 5px;
    color: #c73e1d;
    font-size: 12px;
    width: 350px;
  }
  .sub-form{
    width: 588px;
    height: 388px;
    max-width: 100%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
   */
  