.password-input{
    width: 46px;
    height: 46px;
    text-align: center;
    margin-right: 3px;
    border-radius: 6px;
}
@media screen and (max-width: 676px) {
    .password-input{
        width: 30px;
        height: 30px;
        margin-right: 3px;
    }
  }
