.login-body {
  position: absolute;
  width: 100%;
  height: 750px;
  left: 0px;
  top: 0px;
  background: #f6f8fe;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* important star */

.color-star {
  color: red;
}

.text-border {
  border: 1px solid red;
}

.stepper-center {
  display: flex;
  justify-content: center;
}

.mobile-stepper {
  display: flex;
  justify-content: space-between;
}

.order-list {
  overflow: auto;
}

.order-list {
  max-width: 100%;
  width: 794px;
}

.tog-list {
  margin-top: 10px;
  display: none;
}

.mobile-stepper .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #EB6E7F;
}

.mobile-empty-div {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 4px;
  background: #E5E9FB;
  border-radius: 2px;
}

@media screen and (max-width: 800px) {
  .order-list {
    display: none;
  }

  .tog-list {
    width: 300px;
    display: block;
  }
}