.documents-container {
    margin-top: 30px;
    max-width: 100%;
    width: 754px;
   /*  height: 600px; */
    background: #ffffff;
    border-radius: 6px;
    padding: 20px;
}

.documents-upload-div {
    display: flex;
    max-width: 100%;
    margin-bottom: 15px;

}
.additional-info-div{
    padding-top: 20px;
}
.document-front, .document-back {
    width: 100%;
    min-height: 210px;
    height: 210px;
    border: 2px solid red;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}
.document-front {
    margin-right: 25px;
}
.document-type {
    margin-top: 15px;
    margin-bottom: 15px;
}
.document-checkbox-type input {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border: 1px;
    border-radius: 50%;
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #666666;
}

.document-checkbox-type span {
    margin-right: 25px;
    align-items: center;
}

.document-checkbox-type {
    margin-bottom: 10px;
}

.documents-text {
    display: flex;
}

.hun {
    max-width: 100%;
    width: 360px;
}

.hun:first-child {
    margin-right: 30px;
}

.hun-text {
    margin-bottom: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.hun-text-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #191919;

}
.hun-text-change {
    color: deepskyblue;
}
.document-type b {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #191919;

}
.document-error {
    color: red;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: lightpink;
    border-radius: 6px;
}
.document-no-error {
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 6px;
}
h2 {
    margin-top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.document-front h3, .document-back h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.12px;
    color: #191919;

}
.span {
    color: lightskyblue;
}
.mar-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #999999;
}
.documents-sub-container {
    width: 794px;
    max-width: 100%;
   /*  height: 474px; */
}
.documents-buttons-main-div {
    margin-top: 30px;
    width: 794px;
}

.documents-buttons {
    display: flex;
    justify-content: space-between;
}



.btn-pre {
    width: 288px;
    height: 48px;
    background: #FFFFFF;
    color: #EB6E7F;

    border: 1px solid #EB6E7F;
    box-sizing: border-box;
    border-radius: 6px;
}

.btn-dis {
    width: 288px;
    height: 48px;
    left: 828px;
    top: 735px;
    color: #fff;

    background: #DFE2E6;
    border-radius: 6px;
}

@media screen and (max-width: 800px) {
    .btn-pre{
        width: 120px;
    }
    .btn-dis{
        width: 120px;
    }
    .documents-container {
       /*  height: 720px; */
        width: 260px;
        margin: 10px;
        overflow: hidden;
    }

    
    .document-checkbox-type .main-span {
        display: block;
    }

    .documents-upload-div {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 15px;

    }

    .documents-upload-div-two {
       
        max-width: 100%;
        margin-bottom: 15px;

    }
    .documents-buttons-main-div {
        width: 300px;
    }
    .image-tag{
        width: 264px;
        height: 214px;
    }
    .additional-info-div{
        padding-left: 0px;
        padding-top: 20px;
    }
}

.mandatory-section{
    color: red;
    margin-left: 2px;
}
.image-tag{
    border-radius: 6px;
}


/* checkbox */
/* The container */
.checkbox-container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
  }
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border:2px solid #eee;
  }
  .checkbox-container input:checked ~ .checkbox-checkmark {
    background-color: #EB6E7F;
    border:0px;
    height: 20px;
    width: 20px;
  }
  .checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
  }
  .checkbox-container .checkbox-checkmark:after {
    left: 6px;
    top: 2.7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  /* checkbox */