.documents-container {
    margin-top: 30px;
    max-width: 100%;
    width: 754px;
    height: 414px;
    background: #ffffff;
    border-radius: 6px;
    padding: 20px;
}

.documents-root-body {
    position: absolute;
    width: 100%;
    height: 752px;
    left: 0px;
    top: 0px;
    background: #f6f8fe;
}


.documents-upload-div {
    display: flex;
    max-width: 100%;
    margin-bottom: 15px;

}

.document-front, .document-back {
    width: 100%;
    min-height: 210px;
    height: 210px;
    border: 2px solid red;
    border-style: dashed;
    /*  text-align: center;
    padding-top: 70px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* filter: drop-shadow(0px 0px 1px rgba(46, 91, 255, 0.45)) */
    ;
    border-radius: 8px;

}

.document-front {
    margin-right: 25px;
}

.document-type {
    margin-top: 25px;
    margin-bottom: 10px;
}


.document-radio-type input {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border: 1px;
    border-radius: 50%;
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #666666;
}

.document-radio-type span {
    margin-right: 25px;
    align-items: center;
}

.document-radio-type {
    margin-bottom: 10px;
}

.documents-text {
    display: flex;
}

.hun {
    max-width: 100%;
    width: 360px;
}

.hun:first-child {
    margin-right: 30px;
}

.hun-text {
    margin-bottom: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.hun-text-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.02em;
    color: #191919;

}

.hun-text-change {
    color: deepskyblue;
}

.document-type b {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.02em;
    color: #191919;

}

.document-error {
    color: red;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: lightpink;
    border-radius: 6px;
}

.document-no-error {
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 6px;
}

h2 {
    margin-top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    color: #333333;
}

.document-front h3, .document-back h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.12px;

    color: #191919;

}

.span {
    color: lightskyblue;
}

.mar-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    color: #999999;
}

/* .documents-buttons {
    display: flex;
    justify-content: space-between;
    width: 794px;
    max-width: 100%;
    margin-top: 30px;
} */

/* .documents-buttons button {
    width: 288px;
    height: 40px;
} */
.documents-buttons-main-div {
    margin-top: 30px;
    width: 794px;
}

.documents-buttons {
    display: flex;
    justify-content: space-between;
}

.documents-sub-container {
    width: 794px;
    max-width: 100%;
    height: 474px;
}

.btn-pre {
    width: 288px;
    height: 48px;
    background: #FFFFFF;
    color: #EB6E7F;

    border: 1px solid #EB6E7F;
    box-sizing: border-box;
    border-radius: 6px;
}

.btn-dis {
    width: 288px;
    height: 48px;
    left: 828px;
    top: 735px;
    color: #fff;

    background: #DFE2E6;
    border-radius: 6px;
}

@media screen and (max-width: 800px) {
    .btn-pre{
        width: 120px;
    }
    .btn-dis{
        width: 120px;
    }
    .documents-container {
        height: 720px;
        width: 260px;
        margin: 10px;
        overflow: hidden;
    }

    .document-radio-type .main-span {
        display: block;
    }

    .documents-upload-div {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 15px;

    }

    .documents-root-body {
        height: 975px;
    }

    .documents-buttons-main-div {
        width: 300px;
    }
}


.mandatory-section{
    color: red;
    margin-left: 2px;
}